.body {
  font-family: serif;
  font-style: italic;
}
.gameBoard, 
.preGame, 
.gameOver {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.gameBoard {
  display: grid;
  grid-template-columns: auto auto auto;
}
.preGame,
.gameOver {
  align-content: center;
  background: rgba(255,255,255,0.9);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.controls {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.preGame .playerSelect {
  background: #ddd;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  margin: 0 15px;
  width: 50px;
}
.gameOver a {
  cursor: pointer;
  text-decoration: underline;
}
.label {
  display: block;
  font-size: 48px;
}
.position {
  align-items: center;
  display: flex;
  font-size: 100px;
  justify-content: center;
}
.availablePosition {
  background-color: #EEE;
  border: 1px solid #DDD;
}
.availablePosition:focus {
  outline: 0;
}
.position, .availablePosition {
  height: calc(100vh / 3);
  width: calc(100vw / 3);
}
.gameBoard :nth-child(1),
.gameBoard :nth-child(4),
.gameBoard :nth-child(7) {
  border-left: 0;
}
.gameBoard :nth-child(1),
.gameBoard :nth-child(2),
.gameBoard :nth-child(3) {
  border-top: 0;
}
.gameBoard :nth-child(3),
.gameBoard :nth-child(6),
.gameBoard :nth-child(9) {
  border-right: 0;
}
.gameBoard :nth-child(7),
.gameBoard :nth-child(8),
.gameBoard :nth-child(9) {
  border-bottom: 0;
}